@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: "Reddit Mono", monospace;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-xl: 20px;
  --fw-light: 400;
  --fw-normal: 600;
  --line-height: 1;

  /* Colors */
  --colors-white: #ffffff;
  --colors-graylight: #efeef4;
  --colors-graymain: 92, 105, 112;
  --colors-graydark: #2e3438;
  --colors-bluelight: #8d92a5;
  --colors-bluedark: #1C274C;
}

body {
  margin: 0;
  font-family: var(--family);
  line-height: var(--line-height);
  background-color: var(--colors-white);
  color: var(--colors-graydark);
}